/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.container {

    /* Add container styles */
    /* border: 2px solid red; */
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* .container label {
    margin-top: 2vh;
    font-weight: bolder;
  } */

  .logo {
    width: 25%;
  }
  
  .search-input {
    /* Add search input styles */
    margin-top: 3vh;
    border: none;
    border-bottom: 2px solid rgb(133, 133, 133);
    padding: 2vh;
    width: 20%;
  }
  
  .information{
    padding: 5vh;
    margin-top: 2vh;
    border-radius: 15px;
    border: 2px solid rgb(243, 243, 243);
    width: 80%;
  }

  .search_information {
    border: 2px solid red;
  }

  .evolutions_header h3 {
    border-bottom: 2px solid rgb(196, 196, 196);
  }

  .evolutions{
    /* border: 2px solid rgb(0, 89, 255); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vh;
  }

  .evolutions li{
    /* border: 2px solid rgb(208, 255, 0); */
    width: auto;
  }

  .evolutions img:hover {
    /* border: 2px solid red; */
    width: 102%;
    cursor: pointer;
  }

  .loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 2px solid red; */
  }

  .no_found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5vh;
    margin-bottom: 20vh;
  }

  .no_found h1 {
    color: rgb(139, 139, 139);
    font-family: 'Montserrat', sans-serif;
  }

  .type a {
    border-radius: 5px;
    padding: 0.5vh;
  }
  
  .type.grass a {
    background-color: rgb(61, 201, 85);
    color: rgb(255, 255, 255);
  }
  
  .type.fire a {
    background-color: rgb(255, 85, 85);
    color: rgb(255, 255, 255);
  }
  
  .type.water a {
    background-color: rgb(85, 116, 255);
    color: rgb(255, 255, 255);
  }
  


/* CSS */
.button-30 {
  margin: 4vh;
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}